/* WrldMap.css */

.map-container {
  margin: auto;
  position: relative;
  width: 600px;
  height: 400px;
}

#map {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

#wrld-indoor-control {
  position: absolute;
  top: 20px;
  right: 20px;
  bottom: 40px;
}
  